<header class="mb-4">
    <h1>Welcome back!</h1>
</header>

<div class="row">
    <div class="col-lg-3">
        <a routerLink="/affiliates" class="card dashboard-card">
            <div class="card-body">
                <div class="icon">
                    <i class="bi-people text-danger"></i>
                </div>
                <div class="count">
                    155
                </div>
                <div class="description">
                    Affiliates
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-3">
        <a href="" class="card dashboard-card">
            <div class="card-body">
                <div class="icon">
                    <i class="bi-app text-warning"></i>
                </div>
                <div class="count">
                    20+
                </div>
                <div class="description">
                    Applications
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-3">
        <a href="" class="card dashboard-card">
            <div class="card-body">
                <div class="icon">
                    <i class="naira text-primary"></i>
                </div>
                <div class="count naira text-nowrap">
                    200,000
                </div>
                <div class="description">
                    Revenue
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-3">
        <a routerLink="/affiliates/referrals" class="card dashboard-card">
            <div class="card-body">
                <div class="icon">
                    <i class="bi-activity text-danger"></i>
                </div>
                <div class="count naira text-nowrap">
                    7,655
                </div>
                <div class="description">
                    Referals
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12 col-g-6">

    </div>
</div>