<nav class="sidebar">

    <div class="sidebar-content">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">
              <i class="bi-house icon"></i>
              Affliates
          </a>
        </li>
        
        <li class="nav-item">
          <a routerLink="/affiliates" class="nav-link" aria-current="page" href="#">
              <i class="bi-people icon"></i>
              Referrals
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/affiliates/referrals" class="nav-link" aria-current="page">
              <i class="bi-people icon"></i>
              Reports
          </a>
        </li>
      </ul>
    </div>
  </nav>
  