<div class="card">
    <table class="table">
      <thead>
        <tr>
          <th>S/N</th>
          <th>Referrals Codes</th>
          <th>No of Affiliates</th>
          <th>Applications</th>
          <th>No of times referred</th>
          <th>No of times verified</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>138273743</td>
          <td>10</td>
          <td>Renderquiz</td>
          <td>130</td>
          <td>100</td>
          <td>
          </td>
        </tr>
        <tr>
            <th>2</th>
            <td>1382344433</td>
            <td>10</td>
            <td>Renderquiz</td>
            <td>130</td>
            <td>100</td>
            <td>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
  