<header class="mb-4">
  <h1>Referral List</h1>
</header>


<nav class="mb-3">
  <a routerLink="./create" class="btn btn-primary">
    <i class="bi-plus"></i>
    Create
  </a>
</nav>


<div class="card">
  <table class="table">
    <thead>
      <tr>
        <th>S/N</th>
        <th>Email</th>
        <th>referalApplicationId</th>
        <th>referalCode</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let referal of referals; let i = index;">
        <th>{{i + 1}}</th>
        <td>{{referal.email}}</td>
        <td>{{referal.referalApplicationId}}</td>
        <td>{{referal.referalCode}}</td>
        <td>
          <a type="button" routerLink="./details/" class="btn btn-primary"><i class="bi bi-eye-fill"></i></a>
          <a type="button" routerLink="./edit/{{referal.referalCode}}" class="btn btn-success"><i class="bi bi-pencil-fill"></i></a>
          <a type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  