<h2>referrals-details works!</h2>
<div class="container">

    <a href="#" routerLink="/affiliates/referrals/" class="btn btn-primary">Back</a>
    
    <div>
        <strong>Email:</strong>
        <p>{{referal.email}}</p>
    </div>
    
    <div>
        <strong>Application ID:</strong>
        <p>{{referal.referalApplicationId}}</p>
    </div>
    
    <div>
        <strong>ReferalCode:</strong>
        <p>{{referal.referalCode}}</p>

    </div>
    
    <div>
        <strong>Application Name:</strong>
        <p>{{referal.application.name}}</p>  
    </div>
    <div>
        <strong>Description:</strong>
        <p>{{referal.application.description}}</p>  
    </div>
</div>