

<div class="row">
    <div class="col-lg-4">
        <a routerLink="/affiliates" class="card dashboard-card">
            <div class="card-body">
                <div class="icon">
                    <i class="bi-people text-danger"></i>
                </div>
                <div class="count">
                    155
                </div>
                <div class="description">
                    Total Incomes
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-4">
        <a href="" class="card dashboard-card">
            <div class="card-body">
                <div class="icon">
                    <i class="naira text-primary"></i>
                </div>
                <div class="count naira text-nowrap">
                    200,000
                </div>
                <div class="description">
                    Revenues 
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-4">
        <a routerLink="/affiliates/referrals" class="card dashboard-card">
            <div class="card-body">
                <div class="icon">
                    <i class="bi-activity text-danger"></i>
                </div>
                <div class="count naira text-nowrap">
                    7,655
                </div>
                <div class="description">
                    Commissions
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12 col-g-6">

    </div>
</div>

<div class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="bootcards-list col-sm-12">
        <div class="panel">         
          <div class="list-group">
            <div class="list-group-item">
              <div class="row">               
                <div class="col-sm-1">
                  <p class="list-group-item-text"><b>SN</b></p>
                </div>
                <div class="col-sm-3">             
                  <p class="list-group-item-text"><b>Referral Code</b></p>
                </div>
                <div class="col-sm-3">       
                  <p class="list-group-item-text"><b>Commission</b></p>
                </div>
                <div class="col-sm-3">
                  <p class="list-group-item-text"><b>Affliates</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>     
    </div>
    <div class="row">
      <div class="bootcards-list col-sm-12">
        <div class="panel">         
          <div class="list-group">
            <div class="list-group-item" href="#apple">
              <div class="row">               
                <div class="col-sm-1">                 
                  <p class="list-group-item-text">1</p>
                </div>
                <div class="col-sm-3">             
                  <p class="list-group-item-text">AFT10394030</p>
                </div>
                <div class="col-sm-3">       
                  <p class="list-group-item-text">morgan@mailinator.com</p>
                </div>
                <div class="col-sm-3">
                  <p class="list-group-item-text">1000000203</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>     
    </div>
    <div class="row">
      <div class="bootcards-list col-sm-12">
        <div class="panel">         
          <div class="list-group">
            <div class="list-group-item" href="#apple">
              <div class="row">               
                <div class="col-sm-1">                 
                  <p class="list-group-item-text">1</p>
                </div>
                <div class="col-sm-3">             
                  <p class="list-group-item-text">AFT10394030</p>
                </div>
                <div class="col-sm-3">       
                  <p class="list-group-item-text">morgan@mailinator.com</p>
                </div>
                <div class="col-sm-3">
                  <p class="list-group-item-text">1000000203</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>     
    </div>
    <div class="row">
      <div class="bootcards-list col-sm-12">
        <div class="panel">         
          <div class="list-group">
            <div class="list-group-item" href="#apple">
              <div class="row">               
                <div class="col-sm-1">                 
                  <p class="list-group-item-text">1</p>
                </div>
                <div class="col-sm-3">             
                  <p class="list-group-item-text">AFT10394030</p>
                </div>
                <div class="col-sm-3">       
                  <p class="list-group-item-text">morgan@mailinator.com</p>
                </div>
                <div class="col-sm-3">
                  <p class="list-group-item-text">1000000203</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>     
    </div>
  </div>