<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3" style="margin-bottom: 30px;">
      <input type="search" name="" id="" placeholder="Search" class="form-control">
    </div>
    
  </div>
  <div class="card">
    <table class="table">
      <thead>
        <tr>
          <th>S/N</th>
          <th>Email</th>
          <th>referalApplicationId</th>
          <th>referalCode</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let referal of referals; let i = index;">
          <th>{{i + 1}}</th>
          <td>{{referal.email}}</td>
          <td>{{referal.referalApplicationId}}</td>
          <td>{{referal.referalCode}}</td>
          <td>
            <a type="button" [routerLink]="['./', referal.referalCode, 'detail']" class="btn btn-primary"><i class="bi bi-eye-fill"></i></a>
            <a type="button" routerLink="{{referal.id}}/edit" class="btn btn-success"><i class="bi bi-pencil-fill"></i></a>
            <a type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  
  <!-- <div class="container">
    <div class="row">
      <div class="bootcards-list col-sm-12">
        <div class="panel">         
          <div class="list-group">
            <div class="list-group-item">
              <div class="row">               
                <div class="col-sm-1">
                  <p class="list-group-item-text"><b>SN</b></p>
                </div>
                <div class="col-sm-2">             
                  <p class="list-group-item-text"><b>Affiliates ID</b></p>
                </div>
                <div class="col-sm-3">       
                  <p class="list-group-item-text"><b>Email</b></p>
                </div>
                <div class="col-sm-1">
                  <p class="list-group-item-text"><b>Amount</b></p>
                </div>
                <div class="col-sm-2">
                  <p class="list-group-item-text"><b>Referral code</b></p>
                </div>
                <div class="col-sm-2">
                  <p class="list-group-item-text"><b>Date</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>     
    </div>
    <div class="row">
      <div class="bootcards-list col-sm-12">
        <div class="panel">         
          <div class="list-group">
            <div class="list-group-item" href="#apple">
              <div class="row">               
                <div class="col-sm-1">                 
                  <p class="list-group-item-text">1</p>
                </div>
                <div class="col-sm-2">             
                  <p class="list-group-item-text">AFT10394030</p>
                </div>
                <div class="col-sm-3">       
                  <p class="list-group-item-text">morgan@mailinator.com</p>
                </div>
                <div class="col-sm-1">
                  <p class="list-group-item-text">5000</p>
                </div>
                <div class="col-sm-2">
                  <p class="list-group-item-text">1000000203</p>
                </div>
                <div class="col-sm-2">
                  <p class="list-group-item-text">13/12/2022</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>     
    </div>
    <div class="row">
      <div class="bootcards-list col-sm-12">
        <div class="panel">         
          <div class="list-group">
            <div class="list-group-item" href="#apple">
              <div class="row">               
                <div class="col-sm-1">                 
                  <p class="list-group-item-text">1</p>
                </div>
                <div class="col-sm-2">             
                  <p class="list-group-item-text">AFT10394030</p>
                </div>
                <div class="col-sm-3">       
                  <p class="list-group-item-text">morgan@mailinator.com</p>
                </div>
                <div class="col-sm-1">
                  <p class="list-group-item-text">5000</p>
                </div>
                <div class="col-sm-2">
                  <p class="list-group-item-text">1000000203</p>
                </div>
                <div class="col-sm-2">
                  <p class="list-group-item-text">13/12/2022</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>     
    </div>
    <div class="row">
      <div class="bootcards-list col-sm-12">
        <div class="panel">         
          <div class="list-group">
            <div class="list-group-item" href="#apple">
              <div class="row">               
                <div class="col-sm-1">                 
                  <p class="list-group-item-text">1</p>
                </div>
                <div class="col-sm-2">             
                  <p class="list-group-item-text">AFT10394030</p>
                </div>
                <div class="col-sm-3">       
                  <p class="list-group-item-text">morgan@mailinator.com</p>
                </div>
                <div class="col-sm-1">
                  <p class="list-group-item-text">5000</p>
                </div>
                <div class="col-sm-2">
                  <p class="list-group-item-text">1000000203</p>
                </div>
                <div class="col-sm-2">
                  <p class="list-group-item-text">13/12/2022</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>     
    </div>
  </div> -->
  